cloud/src/main/mule/cloud.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c450c272-b47f-4d4c-8552-ed5b5b67b199" basePath="hub" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="cloudFlow" doc:id="57f8c952-1549-4183-b198-49875860b09e" >
		<http:listener doc:name="Listener" doc:id="34bdc237-8961-4094-a848-36f15376564c" config-ref="HTTP_Listener_config" path="cloud"/>
		<set-payload value="#['hello']" doc:name="Set Payload" doc:id="ae71f093-7667-45e9-b0e9-3c2ff222f9e5" />
	</flow>
</mule>
